@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	background-color: #191919;
	font-family: "Bebas Neue", sans-serif;
	padding-top: 5rem;
	font-family: "Nunito Sans", sans-serif;
}

@layer utilities {
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
	.animate-blink {
		animation: blink 1.2s infinite steps(1);
	}
}
